<!DOCTYPE html>
<html>
    <head>
        <title>Mqtt Data</title>
    </head>
    <body>
        <ol>
                <% for(var i =0;i<data.length;i++){ %>
                  <li><%= data._id %></li>
                <% } %>
        </ol>
        
    </body>
</html>